extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/about.css")
block content
    div.about-wrapper
        div.person
            h2.bio-name Natalie
            p.bio Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta numquam qui molestiae natus ullam praesentium, accusantium exercitationem a, at animi quas asperiores facilis tempora distinctio rerum nemo eligendi consectetur earum!
            div.social-media
                a(href="" target='_blank'): img(class="expand" src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/linkedin_vanlho.png')
                a(href='' target='_blank'): img(class='expand' src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/GitHub-Mark_duumkr.png')
        div.person
            h2.bio-name Ben
            p.bio Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta numquam qui molestiae natus ullam praesentium, accusantium exercitationem a, at animi quas asperiores facilis tempora distinctio rerum nemo eligendi consectetur earum!
            div.social-media
                a(href="" target='_blank'): img(class="expand" src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/linkedin_vanlho.png')
                a(href='' target='_blank'): img(class='expand' src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/GitHub-Mark_duumkr.png')
        div.person
            h2.bio-name Miguel
            p.bio Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores esse similique quidem sint saepe rerum corporis delectus minus animi iure et, nulla fuga quasi consequuntur sequi, repudiandae excepturi rem corrupti?
            div.social-media
                a(href="" target='_blank'): img(class="expand" src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/linkedin_vanlho.png')
                a(href='' target='_blank'): img(class='expand' src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/GitHub-Mark_duumkr.png')
        div.person
            h2.bio-name Laura
            p.bio Experienced brand developer with a successful history in consumer goods, especially footwear and accessories. With extensive knowledge of the product lifecycle, I identify interfaces where communication could be improved and work cross-functionally to deliver products, processes and solutions. Currently: expanding my skillset into software engineering.
            div.social-media
                a(href="https://www.linkedin.com/in/laura-zailac/" target='_blank'): img(class="expand" src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/linkedin_vanlho.png')
                a(href='https://github.com/lkzailac' target='_blank'): img(class='expand' src='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617830781/GitHub-Mark_duumkr.png')
