extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/about.css")
block content
    div
        div.person
            h2.bio-name Natalie
            p.bio
        div.person
            h2.bio-name Ben
            p.bio
        div.person
            h2.bio-name Miguel
            p.bio
        div.person
            h2.bio-name Laura
            p.bio
