extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.home
    div.home-container
      div.home-container__content
        h1= title
        p Welcome to your DIY Product Hunt
      div.home-container__buttons
        a(href='/demo-login'): button Demo Login
