extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.home
    div.home-container
      div.home-container__content
        h1 Welcome to DIY Product Hunt
        p DIY Product Hunt is for creators to share their home-made creations.
        p Every day DIY Product Hunt serves up the latest products.
        p It's a place for DIY enthusiasts to connect and to sell their latest creations while fostering a client base.
        p It's a place for collectors to find cool products that may not be available on the traditional marketplace.

      div.home-container_image
        img(class='home-image' src='https://res.cloudinary.com/dse6ebwba/image/upload/v1624984237/diy_eqhtep.webp' alt='tools')
        p.happy-hunting Happy Hunting!
        div.home-container__buttons
          if req && req.session && req.session.auth
            div
          else
            a(href='/users/demo-login'): button.demo-login Demo Login
