extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.home
    div.home-container
      div.home-container__content
        h1 Welcome to DIY Product Hunt!
        p DIY Product Hunt is a website for creators to share their DIY creations.
        p DIY Product Hunt surfaces the best new products, every day.
        p It's a place for DIY enthusiasts to share and geek out about their latest creations and foster a client base.
        p Its a place for collectors to find cool products that may not be available on the traditional marketplace.
        p.happy-hunting Happy Hunting!
      div.home-container__buttons
        if req.session.auth
          div 
        else
          a(href='/users/demo-login'): button Demo Login
          button.api-login User Login
          button.api-signup Sign Up

