doctype html
html
  head
      title #{title}
      link(rel='icon' type='favicon' href='https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617802070/favicon_ww2gmr.ico')
      link(rel='stylesheet' href='/stylesheets/index.css')
      link(rel='stylesheet' href= '/stylesheets/navbar.css')
      link(rel='stylesheet' href= '/stylesheets/user-login.css')
      block head

      

  body
    header
      img(class="nav-logo" src="https://res.cloudinary.com/dbu0tmeuc/image/upload/v1617804832/diy-logo_zpclwx.png" alt="logo")
      nav
        div.nav-wrapper
          ul.right
            li(class='nav-link search') Search
            li(class='nav-link'): a(href="/products") Products
            //- li: a(href='/categories') Categories
            if locals.authenticated
              li(class='nav-link'): a(href=`/users/${user.id}`): span Welcome #{user.firstName}!
              li: form(method="post" action="/users/logout"): button(type="submit") Log Out
            else
              li(class='nav-link'): a(href="/users/login") Login
              li(class='nav-link'): a(href="/users/signup") Sign Up

            li(class='nav-link'): a(href='/about') About
    block content
