extends layout.pug
block content
    if products && products.length > 0
        each product in products
         div 
            div
                div
                    a(href=`/products/${product.id}`): img(src=`${product.photoURL}`)
            div
                div
                    span=product.name  
                div
                    span=product.summary                
            div
