.about-wrapper {
    display: flex;
    /* justify-content: center; */
    top: 275px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.person {
    padding: 40px;
    background-color: white;

    /* flex-grow: 0; */
    flex-shrink: 1;
    position: relative;
    margin: 15% 2% 0 2%;
    border: 2px solid #D31E0D;
    border-radius: .5em;
    box-shadow: 2px 3px 4px #5b2333;
    transition: all 1s ease-out;
}


.bio-name {
    font-family: Oswald, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
    color: #5b2333;
}

.social-media a {

    padding: 10px;


}

img.expand {
    width: 40px
}
