#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(88,35,51,.5);
    text-align: center;
    color: white;
    height: 15px;
    font-family: Oswald;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 200px;
}
