@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

header {
    /* display: inline-block; */
    position: relative
}

nav {
    width: 100%
}

.nav-wrapper {
    border-top: 3px solid #f7f7f7;
    border-bottom: 3px solid #f7f7f7;
    background-color: white;
    width: 100%;
    position: relative;
    top: 65px;
}

ul.right {

    text-align: right;

}

.nav-logo {
    height: 300px;
    width: 300px;
    display: block;
    position: absolute;
    top: -75px;
    z-index: 1;
    padding-left: 90px;
}

.nav-wrapper li {
    font-family: Oswald, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    color: #5b2333;
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 35px;
    flex-wrap: wrap
}

.nav-wrapper li a {
    color: #5b2333;
    text-decoration: none;
}

.right li a:hover {
    color: tomato;
    text-decoration: none;
}
