.product_listing-wrapper {
    /* display: flex; */
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 75%;
    height: 40%;
    border: solid 2px tomato;
}


 .product_listing-contents-img img {
    border: solid 2px turquoise;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    width: 25%;
    height: 25%;

    /* display: flex; */
    /* top: 50%;
    left: 50; */
    /* margin: -25px 0 0 -25px; */
}

.product_listing-contents-description {
    border: solid 2px rgb(224, 64, 197);
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    max-width: 250px;
    max-height: 250px;
    /* display: flex; */
    /* top: 50%;
    left: 50; */
    /* margin: -25px 0 0 -25px; */
}

.product-listing-name {
    font-family: Oswald, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 22px;
    color: #5b2333;
}

/* .product-listing__imgDiv {
    border: solid 3px yellow;
    width: 200px;
    height: 200px;
    background-image: contain;
} */

/* img {
    width: 250px;
    height: 250px;
} */

.product-summary {
    text-align: left;

}

.product-description {

}

.product-listing__imgDiv-user {
    border: solid 2px rgb(224, 64, 197);
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    max-width: 250px;
    max-height: 250px;
    /* display: flex; */
    /* top: 50%;
    left: 50; */
    /* margin: -25px 0 0 -25px; */

}

.product_listing-contents-upvote {
    border: solid 2px rgb(91, 224, 64);
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    max-width: 250px;
    max-height: 250px;
    /* display: flex; */
    /* top: 50%;
    left: 50; */
    /* margin: -25px 0 0 -25px; */
}

.contributor-name {

}

.mini-product-name {

}
