@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.wrapper {
    display: flex;
    justify-content: center;
    margin:100px 0 40px;
    top: 200px;
    justify-content: center;
}

.product-detail {
    display: block;
    background-color: white;
    box-shadow: 1px 0 6px 0 rgba#f7f4f3;
    border-radius: 3px;
    max-width: 1150px;
    padding: 20px;
}

.product-listing__info {
    display: block;
}

.product-info__name {
    display: block;
}

.old-comments {
    display: block;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(233, 204, 204);

}

.full-comment {
    display: block;
    padding: 1em 0;
}
