.profile {
    position: relative;
    left: 10%;
    top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    background-color: white;
}

.profile-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile-user__pic {
    box-sizing: border-box;
    border-radius: 50%;
    width: auto;
    margin: 15px;
    width: 200px;
    /* width of container */
    height: 200px;
    /* height of container */
    object-fit: cover;
}

.profile-user__name {
    margin: 5px;
}

.profile-user__contact {
    margin: 5px;
}

.profile-user__joinday {
    margin: 5px;
}

/* PRODUCTS */

.profile-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 35%;
}

.profile-products__user-labels {
    display: flex;
    justify-content: space-between;
}

.profile-products__table-container {
    border: 3px solid;
    margin: 15px;
    margin-bottom: 50px;
}
.profile-products__table {
    width: 100%;
}

.profile-products__table-row {
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

button {
    width: 150px;
}

/* DELETE  */

.profile-delete {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
